<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Novo por aqui? Cadastre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Antes de aproveitar nossos serviços precisamos conhecer você...</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group value="participante">
        <ion-item>
          <ion-radio value="palestrante">Palestrante</ion-radio><br />
        </ion-item>
        <ion-item>
          <ion-radio value="participante">Participante</ion-radio><br />
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Primerio Nome" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Ultimo Nome" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Usuário" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="learn@ionic.com" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Senha" labelPlacement="floating" placeholder="******" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirmar senha" labelPlacement="floating" placeholder="******" type="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="light">Registrar</ion-button>
</ion-content>
