<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="">
  <ion-card>
    <ion-card-content>
      <p>Endereço: Algum lugar, 123</p>
      <p>Complemento: Algum lugar</p>
      <p>Bairro: Algum lugar</p>
      <p>Cep: 12345-678</p>
      <p>Cidade: Algum lugar - PR</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-textarea label="Anotações" labelPlacement="floating" placeholder="Adicione alguma anotação..."></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="registrar()">Adicionar Pickup Call</ion-button>
</ion-content>
