<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Learn Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="">
      </ion-avatar>
      <ion-label>
        <h1>Pessoa</h1>
        <p>Dinheiro: <span class="money">R$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-pickup-call-card [status]="'hold'" [updateAt]="'22/06/2023'" [createdAt]="'22/06/2023'" [notes]="'Alguma coisa aqui...'">
    <ion-card-header header>
      <ion-card-subtitle>Último item</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer>Ver mais...</ion-button>
  </app-pickup-call-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
